/*===== Variables =====*/
/* Theme Colors */
/* Typography Variables */
/* Used in compass */
/* line 42, sass/_variables.scss */
.wp-caption-text, .further-reading a,
.further-reading a:link, .entry-categories a,
.entry-tags a, li.comment .comment-footer,
li.pingback .comment-footer, .copyright p {
  font-size: 0.8125em;
  line-height: 1.84615em;
}

/* line 45, sass/_variables.scss */
h6, .search-form-container .search-field {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 48, sass/_variables.scss */
h4, h5 {
  font-size: 1.3125em;
  line-height: 2.28571em;
}

/* line 51, sass/_variables.scss */
h3, .fa.toggle-button, .site-title, .social-media-icons li, .search-form-container span i {
  font-size: 1.625em;
  line-height: 1.84615em;
}

/* line 54, sass/_variables.scss */
h2, .comments-number h3 {
  font-size: 2.25em;
  line-height: 1.33333em;
}

/* line 57, sass/_variables.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.14286em;
}

/* Social Media Brand Colors */
/*===== Mixins =====*/
/*
Theme Name: Drop
Theme URI: http://www.competethemes.com/theme/drop/
Author: Compete Themes
Author URI: http://competethemes.com/
Description: A Bold, Responsive Blog Theme
Tags: green, gray, light, white, one-column, responsive-layout, accessibility-ready, custom-menu, featured-images, sticky-post, theme-options, threaded-comments
Version: 1.06
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/*===== Basic Styles =====*/
/* apply a natural box layout model to all elements */
/* line 16, sass/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, sass/_base.scss */
body {
  font-size: 16px;
  line-height: 24px;
  font-family: "montserrat", "open sans", "sans-serif";
  font-weight: 400;
  color: #666666;
  background: #333333;
  margin: 0;
  padding: 0;
}

/* line 30, sass/_base.scss */
.overflow-container {
  overflow: hidden;
}

/* line 33, sass/_base.scss */
.main {
  margin: 0 auto;
  background: white;
  position: relative;
  left: 0;
  overflow: hidden;
  z-index: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 50, sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

/* Markup styles */
/* line 77, sass/_base.scss */
p {
  font-family: "open sans", "sans-serif";
  margin: 24px 0;
  hyphens: auto;
}

/* line 84, sass/_base.scss */
a,
a:link {
  color: #28805d;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

/* line 89, sass/_base.scss */
a:visited {
  color: #20664a;
}

/* line 93, sass/_base.scss */
a:hover,
a:active {
  color: #2f996f;
}

/* line 96, sass/_base.scss */
article a {
  text-decoration: underline;
}

/* line 100, sass/_base.scss */
ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 24px 5.55%;
}
/* line 106, sass/_base.scss */
ul ul,
ul ol,
ol ul,
ol ol {
  margin: 0 5.55%;
}

/* line 115, sass/_base.scss */
ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* line 118, sass/_base.scss */
article {
  font-family: "open sans", "sans-serif";
}

/* line 121, sass/_base.scss */
article hr {
  border: none;
  text-align: center;
  font-size: 3em;
  line-height: 0;
  margin-bottom: 1em;
  color: #cccccc;
}

/* line 129, sass/_base.scss */
article hr:after {
  content: ". . .";
}

/* line 132, sass/_base.scss */
pre {
  background: whitesmoke;
  padding: 0.75em;
  border-top: solid 0.063em #e6e6e6;
  border-left: solid 0.063em #e6e6e6;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

/* line 140, sass/_base.scss */
code {
  background: whitesmoke;
}

/* line 143, sass/_base.scss */
blockquote {
  margin: 0 12.499%;
  quotes: "\201C""\201D";
  position: relative;
}
/* line 148, sass/_base.scss */
blockquote cite {
  display: block;
  margin-top: 24px;
  font-style: italic;
  text-align: right;
}

/* line 155, sass/_base.scss */
blockquote:before {
  content: open-quote;
  top: 0.083em;
  left: -0.5em;
  color: #e6e6e6;
  position: absolute;
  font-size: 6em;
  z-index: 0;
  /* make sure doesn't go behind a background */
}

/* Table styles */
/* line 167, sass/_base.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 24px 0;
}

/* line 172, sass/_base.scss */
td {
  padding: 0.25em 0.5em;
  /* 8px / 16px */
  border: solid 0.063em #666666;
}

/* line 176, sass/_base.scss */
th {
  padding: 0.25em 0.5em;
  /* 8px / 16px */
  border: solid 0.063em #666666;
}

/* Image styles*/
/* line 183, sass/_base.scss */
.alignleft {
  float: left;
  margin: 0 1em 24px 0;
}

/* line 187, sass/_base.scss */
.alignright {
  float: right;
  margin: 0 0 24px 1em;
}

/* line 191, sass/_base.scss */
.aligncenter {
  text-align: center;
  margin: 24px auto;
}

/* line 195, sass/_base.scss */
.alignnone {
  margin: 24px;
}

/* line 207, sass/_base.scss */
img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/* line 211, sass/_base.scss */
.wp-caption {
  line-height: 0;
}

/* line 214, sass/_base.scss */
.wp-caption-text {
  margin: 0;
  display: inline-block;
  border-bottom: solid 0.077em #e6e6e6;
}

/* Form styles */
/* line 224, sass/_base.scss */
input,
textarea {
  padding: 0.75em 0.5em;
  border: none;
  background: whitesmoke;
  margin: 0;
  -webkit-appearance: none;
  border-radius: 0;
}

/* line 232, sass/_base.scss */
input[type="submit"] {
  background: #28805d;
  font-family: "montserrat", "open sans", "sans-serif";
  color: white;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* line 239, sass/_base.scss */
input[type="submit"]:hover {
  cursor: pointer;
  background: #2f996f;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 245, sass/_base.scss */
  select:focus, textarea:focus, input:focus {
    font-size: 16px;
  }
}
/* placeholders */
/* line 252, sass/_base.scss */
::-webkit-input-placeholder {
  color: #cccccc;
  font-family: "montserrat", "open sans", "sans-serif";
}

/* line 256, sass/_base.scss */
:-moz-placeholder {
  color: #cccccc;
  font-family: "montserrat", "open sans", "sans-serif";
}

/* line 260, sass/_base.scss */
::-moz-placeholder {
  color: #cccccc;
  font-family: "montserrat", "open sans", "sans-serif";
}

/* line 264, sass/_base.scss */
:-ms-input-placeholder {
  color: #cccccc;
  font-family: "montserrat", "open sans", "sans-serif";
}

/*----- Menu Styles -----*/
/* line 272, sass/_base.scss */
.fa.toggle-button {
  color: #e6e6e6;
  text-shadow: -0.077em 0.077em #242424;
  line-height: 1.85;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 279, sass/_base.scss */
.fa.toggle-button:hover {
  cursor: pointer;
}

/* line 283, sass/_base.scss */
.site-header {
  line-height: 0;
  position: relative;
  z-index: 0;
  background: #333333;
  padding: 0 5.55%;
  height: 3em;
}

/* line 291, sass/_base.scss */
.title-info {
  position: absolute;
  top: 0;
  right: 5.55%;
}
/* line 296, sass/_base.scss */
.title-info:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 300, sass/_base.scss */
.site-title {
  text-transform: uppercase;
  text-shadow: -0.077em 0.077em #242424;
}
/* line 307, sass/_base.scss */
.site-title a,
.site-title a:link,
.site-title a:visited {
  color: #e6e6e6;
}
/* line 311, sass/_base.scss */
.site-title a:hover,
.site-title a:active {
  color: #28805d;
}
/* line 314, sass/_base.scss */
.site-title img {
  max-width: 6em;
  max-height: 1.25em;
  display: inline-block;
  vertical-align: middle;
}

/* line 321, sass/_base.scss */
.menu-slider {
  position: absolute;
  left: 0;
  top: 3em;
  z-index: -1;
  width: 88.89%;
  height: 75em;
  padding: 1.5em 11.11%;
  background: #333333;
  color: #e6e6e6;
  text-align: center;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/* line 336, sass/_base.scss */
.site-info img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 4.5em;
  height: auto;
  margin: 0 auto;
  border-left: solid 0.125em #242424;
  border-bottom: solid 0.125em #242424;
}
/* line 344, sass/_base.scss */
.site-info p {
  line-height: 24px;
  font-family: "montserrat", "open sans", "sans-serif";
}
/* line 348, sass/_base.scss */
.site-info hr {
  margin: 0 auto 24px;
  width: 42.85%;
}

/* line 354, sass/_base.scss */
.menu-primary-items,
.menu-unset > ul {
  text-transform: uppercase;
  list-style: none;
}
/* line 358, sass/_base.scss */
.menu-primary-items ul,
.menu-unset > ul ul {
  list-style: none;
  position: relative;
  top: 100%;
  width: 100%;
  margin: 0 auto;
  background: rgba(36, 36, 36, 0.4);
  overflow: hidden;
}
/* line 367, sass/_base.scss */
.menu-primary-items ul a,
.menu-unset > ul ul a {
  padding: 12px;
  margin: 0;
}
/* line 371, sass/_base.scss */
.menu-primary-items ul li,
.menu-unset > ul ul li {
  padding: 0;
}
/* line 375, sass/_base.scss */
.menu-primary-items li,
.menu-unset > ul li {
  position: relative;
  overflow: hidden;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 382, sass/_base.scss */
.menu-primary-items li a,
.menu-unset > ul li a {
  display: block;
  line-height: 24px;
  color: #e6e6e6;
  padding: 12px 0;
}
/* line 389, sass/_base.scss */
.menu-primary-items li a:link, .menu-primary-items li a:visited,
.menu-unset > ul li a:link,
.menu-unset > ul li a:visited {
  color: #e6e6e6;
}
/* line 393, sass/_base.scss */
.menu-primary-items li a:hover, .menu-primary-items li a:active,
.menu-unset > ul li a:hover,
.menu-unset > ul li a:active {
  color: #28805d;
  cursor: pointer;
  /* for unlinked parents */
}
/* line 403, sass/_base.scss */
.menu-primary-items .current-menu-item > a:after,
.menu-primary-items .current-menu-parent > a:after,
.menu-primary-items .current-menu-ancestor > a:after,
.menu-unset > ul .current-menu-item > a:after,
.menu-unset > ul .current-menu-parent > a:after,
.menu-unset > ul .current-menu-ancestor > a:after {
  content: '';
  position: absolute;
  bottom: 0.5em;
  width: 25%;
  left: 37.5%;
  background: #28805d;
  height: 0.125em;
  z-index: 1;
}
/* line 414, sass/_base.scss */
.menu-primary-items .menu-item-has-children,
.menu-unset > ul .menu-item-has-children {
  position: relative;
}
/* line 417, sass/_base.scss */
.menu-primary-items .menu-item-has-children > a,
.menu-unset > ul .menu-item-has-children > a {
  margin-left: -21px;
}
/* line 420, sass/_base.scss */
.menu-primary-items .menu-item-has-children > a:before,
.menu-unset > ul .menu-item-has-children > a:before {
  content: '+ ';
  font-size: 24px;
  line-height: 0;
  color: #28805d;
}

/* line 428, sass/_base.scss */
.social-media-icons {
  list-style: none;
}
/* line 431, sass/_base.scss */
.social-media-icons li {
  display: inline-block;
  margin: 0 0.125em;
}
/* line 438, sass/_base.scss */
.social-media-icons li a,
.social-media-icons li a:link,
.social-media-icons li a:visited {
  color: #e6e6e6;
}
/* line 442, sass/_base.scss */
.social-media-icons li a:hover,
.social-media-icons li a:active {
  color: #28805d;
}

/* Blog */
/* line 450, sass/_base.scss */
.page-header {
  position: relative;
  background: #28805d;
  padding: 1.5em 5.55%;
  text-transform: uppercase;
  color: #333333;
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
}
/* line 459, sass/_base.scss */
.page-header h1,
.page-header h2 {
  text-shadow: -0.063em 0.063em #20664a;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  color: #242424;
}
/* line 465, sass/_base.scss */
.page-header p {
  margin: 0;
}
/* line 468, sass/_base.scss */
.page-header > div {
  display: none;
}

/* line 472, sass/_base.scss */
.excerpt {
  margin: 1.5em 5.55% 4.5em;
  border-bottom: solid 1px #e6e6e6;
}

/* line 476, sass/_base.scss */
.sticky {
  margin: 0;
  padding: 1.5em 5.55% 4.5em;
  outline: solid 0.25em #666666;
  background: #b0e1ce;
}

/* line 482, sass/_base.scss */
.featured-image {
  position: relative;
  height: 216px;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 24px;
}
/* line 489, sass/_base.scss */
.featured-image:after {
  content: '';
  position: absolute;
  top: 0.25em;
  width: 100%;
  left: -0.25em;
  bottom: -0.25em;
  background: #b3b3b3;
  z-index: -1;
}

/* line 503, sass/_base.scss */
.excerpt-date:after,
.excerpt-author:after {
  content: ' / ';
}

/* line 510, sass/_base.scss */
.excerpt-author span,
.excerpt-category span {
  display: none;
  /* also affects archive */
}
/* line 514, sass/_base.scss */
.excerpt-author a,
.excerpt-author a:link,
.excerpt-category a,
.excerpt-category a:link {
  text-decoration: underline;
  /* why is this being printed twice? */
}

/* line 518, sass/_base.scss */
.excerpt-title {
  text-transform: uppercase;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}
/* line 523, sass/_base.scss */
.excerpt-title a {
  color: #666666;
}
/* line 527, sass/_base.scss */
.excerpt-title a:hover,
.excerpt-title a:active {
  text-decoration: underline;
}

/* line 531, sass/_base.scss */
.more-link {
  text-decoration: underline;
}
/* line 534, sass/_base.scss */
.more-link:link {
  text-decoration: underline;
}

/* line 538, sass/_base.scss */
.loop-pagination {
  margin: 1.5em 5.55%;
  text-align: center;
  position: relative;
}
/* line 544, sass/_base.scss */
.loop-pagination a,
.loop-pagination span {
  margin: 0 0.25em;
}
/* line 548, sass/_base.scss */
.loop-pagination a:link,
.loop-pagination a:visited {
  color: #28805d;
}
/* line 552, sass/_base.scss */
.loop-pagination a:hover,
.loop-pagination a:active {
  color: #2f996f;
}
/* line 556, sass/_base.scss */
.loop-pagination .prev,
.loop-pagination .next {
  position: absolute;
  text-transform: uppercase;
  text-decoration: underline;
}
/* line 561, sass/_base.scss */
.loop-pagination .prev:link,
.loop-pagination .next:link {
  text-decoration: underline;
}
/* line 565, sass/_base.scss */
.loop-pagination .prev {
  left: 0;
}
/* line 568, sass/_base.scss */
.loop-pagination .next {
  right: 0;
}

/* Post */
/* line 577, sass/_base.scss */
.entry-meta-top,
.entry-header,
.entry-meta-bottom {
  margin: 0 5.55%;
}

/* line 580, sass/_base.scss */
.entry {
  padding-bottom: 48px;
}
/* line 585, sass/_base.scss */
.entry .featured-image:after {
  left: 0;
}

/* line 590, sass/_base.scss */
.entry.no-featured-image {
  padding-top: 24px;
}

/* line 595, sass/_base.scss */
.entry-meta-top p {
  font-family: "montserrat", "open sans", "sans-serif";
  margin-bottom: 0;
}
/* line 600, sass/_base.scss */
.entry-meta-top a,
.entry-meta-top a:link {
  text-decoration: underline;
}

/* line 604, sass/_base.scss */
.entry-title {
  text-transform: uppercase;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

/* line 609, sass/_base.scss */
.entry-content {
  margin: 1.5em 5.55%;
}

/* line 612, sass/_base.scss */
.entry-meta-bottom {
  margin-top: 48px;
}

/* line 615, sass/_base.scss */
.further-reading {
  clear: both;
  margin-top: 48px;
  margin-bottom: 24px;
}
/* line 620, sass/_base.scss */
.further-reading p {
  font-family: "montserrat", "open sans", "sans-serif";
}
/* line 623, sass/_base.scss */
.further-reading span {
  text-transform: uppercase;
  display: block;
}
/* line 628, sass/_base.scss */
.further-reading a,
.further-reading a:link {
  text-decoration: underline;
}

/* line 636, sass/_base.scss */
.entry-categories p,
.entry-tags p {
  font-family: "montserrat", "open sans", "sans-serif";
}
/* line 639, sass/_base.scss */
.entry-categories span,
.entry-tags span {
  text-transform: uppercase;
  display: block;
}
/* line 643, sass/_base.scss */
.entry-categories a,
.entry-tags a {
  margin: 0 1em 0 0;
  text-transform: uppercase;
}

/* line 649, sass/_base.scss */
.singular-pagination {
  font-family: "montserrat", "open sans", "sans-serif";
  text-transform: uppercase;
}
/* line 653, sass/_base.scss */
.singular-pagination a {
  margin: 0 0.5em;
}

/* Comments */
/* line 660, sass/_base.scss */
.comments {
  margin: 0 5.55%;
  padding: 48px 0 24px;
  border-top: solid 0.125em #cccccc;
}
/* line 666, sass/_base.scss */
.comments ul,
.comments ol {
  list-style: none;
}

/* line 670, sass/_base.scss */
.comments-number {
  text-transform: uppercase;
}
/* line 673, sass/_base.scss */
.comments-number h3 {
  font-weight: 400;
}

/* line 678, sass/_base.scss */
.comment-list {
  padding: 0;
  margin-top: 24px;
}
/* line 682, sass/_base.scss */
.comment-list ul {
  margin-left: 1.5em;
  margin-right: 0;
}
/* line 686, sass/_base.scss */
.comment-list ul li:first-child:before {
  content: "\2192";
  position: absolute;
  top: 0.75em;
  left: -1.6em;
}

/* line 695, sass/_base.scss */
li.comment,
li.pingback {
  margin-bottom: 48px;
  position: relative;
}
/* line 699, sass/_base.scss */
li.comment .avatar,
li.pingback .avatar {
  width: 48px;
  height: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 1em;
  margin-bottom: 12px;
}
/* line 710, sass/_base.scss */
li.comment .author-name a,
li.comment .author-name a:link,
li.pingback .author-name a,
li.pingback .author-name a:link {
  text-decoration: underline;
  text-transform: uppercase;
}
/* line 715, sass/_base.scss */
li.comment .comment-content,
li.pingback .comment-content {
  clear: both;
  margin: -12px 0;
}
/* line 722, sass/_base.scss */
li.comment .comment-footer div,
li.pingback .comment-footer div {
  display: inline-block;
}
/* line 726, sass/_base.scss */
li.comment .comment-reply-link,
li.pingback .comment-reply-link {
  text-transform: uppercase;
}
/* line 729, sass/_base.scss */
li.comment .comment-reply-link:after,
li.pingback .comment-reply-link:after {
  content: ' | ';
  text-decoration: none;
  color: #666666;
}
/* line 737, sass/_base.scss */
li.comment .comment-edit-link:before,
li.pingback .comment-edit-link:before {
  content: ' | ';
  color: #666666;
}

/* line 745, sass/_base.scss */
.bypostauthor img {
  border: solid 0.125em #28805d;
}

/* line 751, sass/_base.scss */
.comment-pagination p {
  font-family: "montserrat", "open sans", "sans-serif";
  text-transform: uppercase;
  text-align: center;
}

/* line 757, sass/_base.scss */
.comments-closed {
  font-family: "montserrat", "open sans", "sans-serif";
  text-transform: uppercase;
}

/* Comment form */
/* line 764, sass/_base.scss */
.comment-reply-title {
  text-transform: uppercase;
  font-weight: 400;
}

/* line 768, sass/_base.scss */
.comment-respond {
  margin-bottom: 48px;
}

/* line 772, sass/_base.scss */
input,
textarea {
  width: 100%;
  color: #666666;
  padding: 1.6em;
}

/* line 777, sass/_base.scss */
input[type="submit"] {
  color: white;
}

/* archive */
/* Footer */
/* line 786, sass/_base.scss */
.site-footer {
  background: #333333;
  padding: 1.5em 5.55% 0;
  position: relative;
  color: #b3b3b3;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 793, sass/_base.scss */
.site-footer a {
  color: white;
}
/* line 797, sass/_base.scss */
.site-footer a:link, .site-footer a:visited {
  color: white;
}
/* line 801, sass/_base.scss */
.site-footer a:hover, .site-footer a:active {
  color: #2f996f;
}
/* line 812, sass/_base.scss */
.site-footer .widget-title {
  text-transform: uppercase;
  font-weight: 400;
}
/* line 819, sass/_base.scss */
.site-footer .widget ul,
.site-footer .widget ol {
  list-style: none;
  margin-right: 0;
}
/* line 824, sass/_base.scss */
.site-footer .copyright {
  background: #242424;
}

/* line 828, sass/_base.scss */
.sidebar-subsidiary {
  padding-bottom: 24px;
}

/* line 831, sass/_base.scss */
.copyright {
  position: relative;
  background: #333333;
  color: #666666;
  text-transform: uppercase;
  width: 113%;
  left: -6.5%;
  padding: 24px 5.55%;
  text-align: center;
}
/* line 841, sass/_base.scss */
.copyright p {
  font-family: "montserrat", "open sans", "sans-serif";
  margin: 0;
}
/* line 848, sass/_base.scss */
.copyright a,
.copyright a:link,
.copyright a:visited {
  color: #666666;
  text-decoration: underline;
}
/* line 853, sass/_base.scss */
.copyright a:hover,
.copyright a:active {
  color: #28805d;
}

/* Search Form */
/* line 860, sass/_base.scss */
.search-form-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
/* line 867, sass/_base.scss */
.search-form-container form {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 872, sass/_base.scss */
.search-form-container .search-field {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 72px;
  z-index: -1;
  padding: 0.75em 11.11%;
  font-family: "montserrat", "open sans", "sans-serif";
  color: #666666;
  background: #e6e6e6;
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
/* line 887, sass/_base.scss */
.search-form-container .search-field::-webkit-input-placeholder {
  color: #666666;
}
/* line 890, sass/_base.scss */
.search-form-container .search-field:-moz-placeholder {
  color: #666666;
}
/* line 893, sass/_base.scss */
.search-form-container .search-field::-moz-placeholder {
  color: #666666;
}
/* line 896, sass/_base.scss */
.search-form-container .search-field:-ms-input-placeholder {
  color: #666666;
}
/* line 900, sass/_base.scss */
.search-form-container input[type="search"].search-field {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
/* line 904, sass/_base.scss */
.search-form-container .search-submit {
  background: none;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 909, sass/_base.scss */
.search-form-container span {
  color: white;
  background: #28805d;
  z-index: 5;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
/* line 915, sass/_base.scss */
.search-form-container span i {
  position: absolute;
  top: 28%;
  left: 35%;
  left: calc(50% - 12px);
}
/* line 924, sass/_base.scss */
.search-form-container .search-submit,
.search-form-container span {
  position: absolute;
  right: 0;
  top: 0;
  width: 22.22%;
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* line 939, sass/_base.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-span,
input[type="search"]::-webkit-search-results-span,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* line 944, sass/_base.scss */
.search-form-container.open .search-field {
  top: 100%;
}
/* line 947, sass/_base.scss */
.search-form-container.open .search-submit {
  top: 100%;
  height: 4.5em;
  color: #666666;
}
/* line 952, sass/_base.scss */
.search-form-container.open .search-submit:hover {
  background-color: #b3b3b3;
}
/* line 956, sass/_base.scss */
.search-form-container.open span {
  background: #20664a;
}

/* 404 */
/* line 966, sass/_base.scss */
.error404 .search-form-container,
.search .search-form-container {
  position: relative;
  height: 4.5em;
  margin-bottom: 48px;
}
/* line 971, sass/_base.scss */
.error404 .search-form-container form,
.search .search-form-container form {
  top: -100%;
}
/* line 975, sass/_base.scss */
.error404 .search-form-container .search-field,
.error404 .search-form-container .search-submit,
.search .search-form-container .search-field,
.search .search-form-container .search-submit {
  top: 100%;
  z-index: 2;
}
/* line 979, sass/_base.scss */
.error404 .search-form-container .search-submit,
.search .search-form-container .search-submit {
  background: #20664a;
}
/* line 983, sass/_base.scss */
.error404 .search-form-container .search-submit:hover, .error404 .search-form-container .search-submit:active,
.search .search-form-container .search-submit:hover,
.search .search-form-container .search-submit:active {
  background: #2f996f;
}
/* line 987, sass/_base.scss */
.error404 .search-form-container span,
.search .search-form-container span {
  top: 100%;
  z-index: 1;
}
/* line 991, sass/_base.scss */
.error404 .search-form-container span i,
.search .search-form-container span i {
  top: 15%;
}

/* line 999, sass/_base.scss */
.search .search-bottom {
  margin: 1.5em 5.55%;
  border-top: solid 0.125em #cccccc;
}

/* 500px */
@media all and (min-width: 31.25em) {
  /* menu */
  /* line 1010, sass/_base.scss */
  .site-header {
    padding: 0 11.11%;
  }

  /* line 1013, sass/_base.scss */
  .title-info {
    right: 11.11%;
  }

  /* blog */
  /* line 1019, sass/_base.scss */
  .page-header {
    padding: 1.5em 11.11%;
  }

  /* line 1022, sass/_base.scss */
  .excerpt {
    margin: 1.5em 11.11% 4.5em;
  }

  /* line 1025, sass/_base.scss */
  .sticky {
    margin: 0;
    padding: 1.5em 11.11% 4.5em;
  }

  /* line 1029, sass/_base.scss */
  .featured-image {
    height: 264px;
  }

  /* line 1032, sass/_base.scss */
  .loop-pagination {
    margin: 1.5em 11.11%;
  }

  /* Post */
  /* line 1040, sass/_base.scss */
  .entry-meta-top,
  .entry-header,
  .entry-meta-bottom {
    margin: 0 11.11%;
  }

  /* line 1043, sass/_base.scss */
  .entry-content {
    margin: 1.5em 11.11%;
  }

  /* line 1048, sass/_base.scss */
  .further-reading p {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  /* line 1053, sass/_base.scss */
  .further-reading .next {
    text-align: right;
  }

  /* Comments */
  /* line 1060, sass/_base.scss */
  .comments {
    margin: 0 11.11%;
  }

  /* line 1065, sass/_base.scss */
  .comment-pagination p {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
  /* line 1071, sass/_base.scss */
  .comment-pagination .next-comment {
    text-align: right;
  }

  /* Footer */
  /* line 1078, sass/_base.scss */
  .site-footer {
    padding: 1.5em 11.11% 0;
  }

  /* line 1081, sass/_base.scss */
  .copyright {
    padding: 12px 11.11%;
    left: -14.25%;
    width: 128.5%;
  }

  /* Search */
  /* line 1091, sass/_base.scss */
  .search .search-bottom {
    margin: 1.5em 11.11%;
  }
}
/* 600px */
@media all and (min-width: 37.5em) {
  /* line 1100, sass/_base.scss */
  .excerpts-container {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  /* line 1111, sass/_base.scss */
  .excerpts-container.open {
    -webkit-transform: translateY(96px);
    -moz-transform: translateY(96px);
    -ms-transform: translateY(96px);
    -o-transform: translateY(96px);
    transform: translateY(96px);
    padding-bottom: 96px;
  }

  /* menu */
  /* line 1124, sass/_base.scss */
  .menu-slider {
    width: 50%;
    padding: 3em 5.55%;
  }

  /* blog */
  /* line 1133, sass/_base.scss */
  .page-header > div {
    display: block;
  }
  /* line 1138, sass/_base.scss */
  .page-header h2,
  .page-header p {
    max-width: 80%;
  }
}
/* 700px */
@media all and (min-width: 43.75em) {
  /* blog */
  /* line 1149, sass/_base.scss */
  .featured-image {
    height: 312px;
  }

  /* line 1152, sass/_base.scss */
  .excerpt {
    border-bottom: none;
  }

  /* post */
  /* line 1161, sass/_base.scss */
  .entry-categories span,
  .entry-tags span {
    display: inline-block;
    float: left;
    height: 48px;
    margin-right: 1em;
  }
  /* line 1167, sass/_base.scss */
  .entry-categories a,
  .entry-tags a {
    font-size: 16px;
    line-height: 24px;
  }

  /* comments */
  /* line 1175, sass/_base.scss */
  input {
    width: 57.135%;
  }

  /* Footer */
  /* line 1183, sass/_base.scss */
  .site-footer .widget {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: 1em;
    float: left;
  }

  /* line 1191, sass/_base.scss */
  .sidebar-subsidiary:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  /* post */
  /* line 1201, sass/_base.scss */
  .entry .featured-image {
    height: 360px;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  /* line 1209, sass/_base.scss */
  body {
    background: #e6e6e6;
  }

  /* menu */
  /* line 1215, sass/_base.scss */
  .site-header {
    width: 33.33%;
    padding: 0;
    float: left;
    z-index: 1;
    background: none;
    height: auto;
  }
  /* line 1223, sass/_base.scss */
  .site-header:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  /* line 1227, sass/_base.scss */
  .title-info {
    right: auto;
    text-align: center;
    width: 100%;
    position: relative;
    padding: 24px 16.65%;
    background: #cccccc;
  }
  /* line 1235, sass/_base.scss */
  .title-info .site-title {
    font-size: 2.625em;
    line-height: 1.14;
    text-shadow: -0.063em 0.063em #b3b3b3;
  }
  /* line 1242, sass/_base.scss */
  .title-info .site-title a,
  .title-info .site-title a:link,
  .title-info .site-title a:visited {
    color: #575757;
  }
  /* line 1246, sass/_base.scss */
  .title-info .site-title a:hover,
  .title-info .site-title a:active {
    color: #666666;
  }
  /* line 1249, sass/_base.scss */
  .title-info .site-title img {
    max-width: 4.5em;
    max-height: 0.95em;
  }

  /* line 1258, sass/_base.scss */
  .ie9 .site-title a:hover, .ie9 .site-title a:active {
    color: #666666;
  }

  /* line 1262, sass/_base.scss */
  .menu-slider {
    width: 100%;
    height: auto;
    padding: 0 16.65%;
    background: none;
    color: #666666;
    position: relative;
  }

  /* line 1272, sass/_base.scss */
  .site-info img {
    border-color: #b3b3b3;
  }
  /* line 1275, sass/_base.scss */
  .site-info hr {
    color: #cccccc;
    border-color: #cccccc;
  }

  /* line 1280, sass/_base.scss */
  .fa.toggle-button {
    display: none;
  }

  /* line 1284, sass/_base.scss */
  #menu-primary-items,
  .menu-unset > ul {
    margin: 0;
  }
  /* line 1287, sass/_base.scss */
  #menu-primary-items ul,
  .menu-unset > ul ul {
    position: absolute;
    top: 1.5em;
    left: -999em;
    background: #cccccc;
    -webkit-transition: top 0.2s ease;
    -moz-transition: top 0.2s ease;
    -o-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  /* line 1294, sass/_base.scss */
  #menu-primary-items ul.focused,
  .menu-unset > ul ul.focused {
    left: 100%;
    top: 0;
  }
  /* line 1299, sass/_base.scss */
  #menu-primary-items ul,
  .menu-unset > ul ul {
    overflow: visible;
    /* overwriting previous code */
  }
  /* line 1302, sass/_base.scss */
  #menu-primary-items li,
  .menu-unset > ul li {
    position: relative;
    overflow: visible;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  /* line 1310, sass/_base.scss */
  #menu-primary-items li:hover > ul, #menu-primary-items li:active > ul,
  .menu-unset > ul li:hover > ul,
  .menu-unset > ul li:active > ul {
    left: 100%;
    top: 0;
  }
  /* line 1318, sass/_base.scss */
  #menu-primary-items li a,
  #menu-primary-items li a:link,
  #menu-primary-items li a:visited,
  .menu-unset > ul li a,
  .menu-unset > ul li a:link,
  .menu-unset > ul li a:visited {
    color: #666666;
  }
  /* line 1322, sass/_base.scss */
  #menu-primary-items li a:hover,
  #menu-primary-items li a:active,
  .menu-unset > ul li a:hover,
  .menu-unset > ul li a:active {
    color: #28805d;
  }

  /* line 1333, sass/_base.scss */
  .social-media-icons li a,
  .social-media-icons li a:link,
  .social-media-icons li a:visited {
    color: #666666;
  }
  /* line 1337, sass/_base.scss */
  .social-media-icons li a:hover,
  .social-media-icons li a:active {
    color: #28805d;
  }

  /* blog */
  /* line 1346, sass/_base.scss */
  .main {
    float: right;
    width: 66.66%;
  }
  /* line 1350, sass/_base.scss */
  .main:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  /* line 1354, sass/_base.scss */
  .page-header {
    background: #28805d;
    padding: 1.5em 8.33%;
  }
  /* line 1358, sass/_base.scss */
  .page-header h2 {
    text-shadow: -0.063em 0.063em #20664a;
    font-size: 2.625em;
    line-height: 1.14;
  }

  /* line 1364, sass/_base.scss */
  .excerpt {
    margin: 1.5em 8.33% 4.5em;
  }

  /* line 1367, sass/_base.scss */
  .sticky {
    margin: 0;
    padding: 1.5em 8.33% 4.5em;
    outline-offset: -0.25em;
  }

  /* line 1372, sass/_base.scss */
  .loop-pagination {
    margin: 1.5em 8.33%;
  }

  /* Post */
  /* line 1378, sass/_base.scss */
  .entry.no-featured-image {
    padding-top: 48px;
  }

  /* line 1383, sass/_base.scss */
  .entry-meta-top,
  .entry-header,
  .entry-meta-bottom {
    margin: 0 8.33%;
  }

  /* line 1386, sass/_base.scss */
  .entry-content {
    margin: 1.5em 8.33%;
  }

  /* line 1389, sass/_base.scss */
  .entry .featured-image {
    height: 312px;
  }

  /* Comments */
  /* line 1395, sass/_base.scss */
  .comments {
    margin: 0 8.33%;
  }

  /* footer */
  /* line 1401, sass/_base.scss */
  .site-footer {
    float: right;
    width: 66.66%;
    padding: 1.5em 5.55% 0;
  }

  /* line 1407, sass/_base.scss */
  .copyright {
    left: -10%;
    width: 120%;
  }

  /* search form */
  /* line 1416, sass/_base.scss */
  .search-form-container .search-field {
    color: #e6e6e6;
    background: #666666;
    padding: 0.75em 8.33%;
  }
  /* line 1421, sass/_base.scss */
  .search-form-container .search-field::-webkit-input-placeholder {
    color: #e6e6e6;
  }
  /* line 1424, sass/_base.scss */
  .search-form-container .search-field:-moz-placeholder {
    color: #e6e6e6;
  }
  /* line 1427, sass/_base.scss */
  .search-form-container .search-field::-moz-placeholder {
    color: #e6e6e6;
  }
  /* line 1430, sass/_base.scss */
  .search-form-container .search-field:-ms-input-placeholder {
    color: #e6e6e6;
  }

  /* line 1437, sass/_base.scss */
  .search-form-container.open .search-submit {
    color: #e6e6e6;
  }
  /* line 1440, sass/_base.scss */
  .search-form-container.open .search-submit:hover {
    background-color: #575757;
  }

  /* search page */
  /* line 1450, sass/_base.scss */
  .search .search-bottom {
    margin: 1.5em 8.33%;
  }
}
/* 1100 */
@media all and (min-width: 68.75em) {
  /* menu */
  /* line 1463, sass/_base.scss */
  .title-info .site-title img {
    max-width: 5.5em;
  }

  /* line 1469, sass/_base.scss */
  .menu-slider img {
    width: 6em;
  }

  /* blog */
  /* line 1476, sass/_base.scss */
  .page-header {
    padding: 1.5em 16.67%;
  }

  /* line 1479, sass/_base.scss */
  .excerpt {
    margin: 1.5em 16.67% 4.5em;
    position: relative;
  }

  /* line 1483, sass/_base.scss */
  .sticky {
    margin: 0;
    padding: 1.5em 16.67% 4.5em;
  }

  /* line 1487, sass/_base.scss */
  .excerpt-meta {
    position: absolute;
    right: 100%;
    width: 25%;
    top: 0;
    font-size: 0.813em;
    line-height: 1.85;
    padding: 0 3% 0 2.08%;
    text-align: right;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
  }
  /* line 1499, sass/_base.scss */
  .excerpt-meta span {
    display: block;
  }

  /* line 1503, sass/_base.scss */
  .excerpt-date {
    font-weight: 700;
  }

  /* line 1509, sass/_base.scss */
  .excerpt-date:after,
  .excerpt-author:after {
    content: '';
  }

  /* line 1513, sass/_base.scss */
  .loop-pagination {
    margin: 1.5em 16.67%;
  }

  /* post */
  /* line 1521, sass/_base.scss */
  .entry-meta-top,
  .entry-header,
  .entry-meta-bottom {
    margin: 0 16.67%;
  }

  /* line 1524, sass/_base.scss */
  .entry-content {
    margin: 1.5em 16.67%;
  }

  /* line 1527, sass/_base.scss */
  .entry .featured-image {
    height: 336px;
  }

  /* Comments */
  /* line 1533, sass/_base.scss */
  .comments {
    margin: 0 16.67%;
  }

  /* search */
  /* line 1541, sass/_base.scss */
  .search-form-container .search-field {
    padding: 0.75em 16.67%;
  }

  /* footer */
  /* line 1548, sass/_base.scss */
  .site-footer {
    padding-left: 11.11%;
  }

  /* line 1551, sass/_base.scss */
  .copyright {
    left: -22%;
    width: 133.15%;
  }

  /* search page */
  /* line 1560, sass/_base.scss */
  .search .search-bottom {
    margin: 1.5em 16.67%;
  }
}
/* 1200px */
@media all and (min-width: 75em) {
  /* line 1569, sass/_base.scss */
  .entry .featured-image {
    height: 408px;
  }
}
